<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!-- Favicon and title -->
        <link rel="icon" type="image/x-icon" href="https://ludensproductions.com/img/favicon_blanco.png">
        <title>Login</title>

        {% load static %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    </head>
	{% load crispy_forms_tags %}

    <body class="bg-gradient-primary" style="position:absolute;margin-left: auto; margin-right: auto; left: 0; right: 0;">
        <div class="container" style="position:absolute; left:0; right:0; top: 50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9 col-xl-9 col-xxl-7">
                    <div class="card shadow-lg o-hidden border-0 my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h4 class="text-dark mb-4">Welcome Back!</h4>
                                        </div>
                                        
                                        <!-- Start: Login Form -->
                                        <form class="user" method="POST" action="{% url 'login' %}">
                                            {% csrf_token %}

                                            {% if form.errors %}
                                                <p class="text-danger">Your username and password didn't match. Please try again.</p>
                                            {% endif %} 
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="text" id="email" placeholder="Enter Username" name="username" required="">
                                            </div>
                                            <div class="mb-3">
                                                <input class="form-control form-control-user" type="password" placeholder="Password" name="password" required="">
                                            </div>
                                            

                                            <button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit">Login</button>
                                            <hr>
                                        </form>
                                        <!-- End: Login Form -->

                                        <!-- Start: Forgot Password -->
                                        <div class="text-center">
                                            <a class="small" href="{% url 'forgot-password' %}">
                                                Forgot Password?
                                            </a>
                                        </div>
                                        <!-- End: Forgot Password -->

                                        <!-- Start: Register -->
                                        <div class="text-center">
                                            <a class="small" href="{% url 'register' %}">
                                                Create an Account!
                                            </a>
                                        </div>
                                        <!-- End: Register -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>

</html>